nav.nav.nav-pills.nav-fill.container.mt-4
  a.nav-item.nav-link class=('active' if current_page?(action: 'top_10')) href="/top10"  Top 10
  a.nav-item.nav-link class=('active' if current_page?(action: 'ruby_top_10')) href="/top10/ruby"  Top 10 Ruby
